main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  max-width: 400px;
  height: 500px;
  margin: auto;
  margin-top: 150px;

  fieldset {
    width: 300px;
    height: 400px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.text-right {
  margin-top: 20px;
}

.text-info {
  margin-top: 50px;
}

.form-control {
  width: 220px;
  height: 25px;
}

.submit-button {
  background-color: cornflowerblue !important;
  border-radius: 20% !important;
}

.text-danger {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
